/* COLOUR PALETTES FOR THE WEBSITE */
:root {
  --main-color: #262c42;
  --sub-color-one: #fa66c1;
  --sub-color-two: #f0f0f0;
  --sub-color-three: #bebebe;
}

/* THE HTML PRE-REQUISITE(?) */
html,
body {
  height: 100% !important;
  font-family: "Poppins", sans-serif !important;
  color: var(--sub-color-one) !important;
  background-color: var(--main-color) !important;
}

/* NAVIGATION BAR */
.navbar-logo-holder {
  width: 216px;
}

@media screen and (max-width: 1024px) {
  .navbar-logo-holder {
    margin-top: 5px;
    text-align: left;
    margin-left: 15px;
    margin-right: 0;
    width: 150px;
    float: left;
  }
}

.bg-custom-navbar {
  background-color: var(--main-color);
}

.navbar-content {
  padding-left: 15px;
  padding-right: 15px;
}

ul.navbar-nav > li.nav-item {
  margin-right: 20px !important;
}

ul.navbar-nav > li.nav-item :hover {
  color: var(--sub-color-one) !important;
}

li.nav-item > a.nav-link {
  color: white !important;
}

li.nav-item > a.nav-link.active {
  color: var(--sub-color-one) !important;
}

.custom-dropdown {
  background-color: #ebecec !important;
}

.custom-dropdown > li > a.dropdown-item {
  background-color: transparent;
}

.custom-dropdown > li > a.dropdown-item:hover {
  color: var(--main-color) !important;
}

/* COUNTDOWN SECTION */
#countdownSection {
  padding: 35px 0;
  position: relative;
  z-index: 1;
  top: -18px;
  margin: 0 9em;
  background-color: white;
  color: var(--main-color);
}

@media screen and (max-width: 991px) {
  #countdownSection {
    margin: 0 2em;
    padding: 35px 3px;
    display: block;
    top: -6px;
  }
}

#countdownSection > p.text-center > span.countdown-emphasis {
  color: var(--sub-color-one);
  font-weight: bold;
}

#countdownSection > .countdown-holder {
  font-size: 26px;
  margin-top: 3em;
  text-align: center;
}

.date-countdown {
  font-size: 86px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: var(--sub-color-one);
}

/* SECTION ONE - CONFERENCE */
#sectionOne {
  background-color: var(--main-color);
}

button.btn-custom {
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .section-one-buttons {
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
  }
}

h4.section-one-title {
  font-size: 16px;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

.img-box {
  position: relative;
  display: inline-block;
}

.img-box > p.img-text {
  position: absolute;
  z-index: 999;
  line-height: 1.25em;
  padding: 0 25px;
  bottom: 0;
  top: 80%;
  text-align: left;
  font-size: 22px;
  color: white;
}

/* SECTION TWO - SPONSORSHIP */
#sectionTwo {
  background-image: url("images/cyberdynebg.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
}

img.extra-img-asset {
  height: 10%;
  margin: auto -2.5em;
}

@media screen and (max-width: 767px) {
  img.extra-img-asset {
    height: 3%;
    margin: 0;
  }
}

p.section-two-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

img.icon-img {
  width: 97px;
  height: 98px;
}

.btn-custom-two {
  background-color: var(--main-color);
  border-color: none;
  color: var(--sub-color-one);
  font-weight: 600;
  font-size: 14px;
  padding: 10px 25px;
}

.btn-custom-two-extra {
  color: white;
  font-size: 16px;
  text-align: center;
  background-color: var(--sub-color-one);
  pointer-events: none;
}

/* SECTION THREE - COMPANIES SPONSORS */
#sectionThree {
  background-color: white;
}

p.section3-title-line {
  font-size: 20px;
  letter-spacing: 1.5px;
  color: black;
  position: relative;
  margin: 45px auto;
}

.section3-title-line:after {
  content: " ";
  height: 0.8px;
  width: calc(100% - 500px);
  background: #a6a6a6;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
}

/* SECTION FOUR - PRODUCT INFO */
#sectionFour {
  background-image: url("images/pplwalking.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.section4-title {
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 0.5em;
}

.video-wrapper {
  min-width: 100%;
  padding-bottom: 56.25%;
  height: 0px;
  position: relative;
}

.video-wrapper > iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 991px) {
  .video-wrapper {
    min-width: 283px;
  }
}

.btn-custom-three {
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 25px;
  border-color: none;
}

.btn-custom-three:hover {
  background-color: var(--sub-color-one);
  color: black;
}

/* FOOTER */
#websiteFooter {
  background-color: var(--main-color);
}

div#brandingSocials > img {
  height: 76px;
  width: 300px;
}

.social-media-link {
  padding: 5px;
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.custom-footer {
  color: white;
  font-size: 0.8em;
}

@media screen and (max-width: 767px) {
  .footer-social {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  div#footerMenu > h3.text-white {
    text-align: center;
  }

  div#footerMenu > ul.nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
